.activity-container h3 {
    text-align: center;
}

.break-btn {
    border: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 20px 10px;
}

.break-btn button {
    background-color: orange;
    border: none;
    padding: 5px;
}

.break-btn button:hover {
    background-color: orangered;
}

.excersice-time {
    border: 1px solid gray;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.break-time {
    border: 1px solid gray;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.activity-btn {
    text-align: center;
}

.activity-btn button {
    background-color: orange;
    padding: 10px 25px;
    border: none;

}

.activity-btn button:hover {
    background-color: orangered;
}

@media screen and (min-width: 577px) and (max-width: 992px) {

    .break-btn {
        gap: 25px;
        padding: 20px 50px;
    }

    .break-btn button {
        padding: 10px 10px;
    }

    .excersice-time {
        padding: 10px 50px;
    }

    .break-time {
        padding: 10px 50px;
    }
}